.navbarHeader {
    background-color: black;
    height: 54px;
   
}
.createSOWBtn {
    margin-top: 45px;
    border: 1px solid #0F62FE;
    padding: 8px 28px;
    background: white;
    margin-bottom: 27.1px;
}
header {
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-family: "ChubbPublico-Roman";
    font-size: 23px;
    //font-weight: bold;
    margin-bottom: 16.9px;
}
.mat-form-field {
    width: 100%;
}
.searchBtn {
    background-color: #0F62FE;
    border: 1px solid #0F62FE;
    padding: 8px 28px;
    margin-bottom: 27.1px;
    color: white;
}
.resetBtn {
    border: 1px solid #0F62FE;
    padding: 8px 28px;
    background: white;
    margin-bottom: 27.1px;
    margin-left: -45px;
}

.footer {
    &__social-section-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 12px;
    font-family: var(--font-secondary-regular);
    line-height: 20px;
    padding-left: 150px;

    &-item {
      margin-right: 16px;
      color: #000000;
      font-family: Lato;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
}