.header {
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    color: #14171A;
    opacity: 1;
}

.searchBtn {
    background-color: #0F62FE;
    border: 1px solid #0F62FE;
    padding: 8px 28px;
    margin-bottom: 27.1px;
    color: white;
}

.resetBtn {
    border: 1px solid #0F62FE;
    padding: 8px 28px;
    background: white;
    margin-bottom: 27.1px;
    margin-left: -45px;
}